@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}

.shakeAnimation {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

.deleteAnimation {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}
